:root {
  --primary-color: #123B70;
  --secondary-color: #0B1F3A;
  --accent-color: #F4B924;
  --light-color: #F5F7FA;
  --white-color: #FFFFFF;
  --text-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, san-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--white-color);
}
header {
  background-color: var(--secondary-color);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  color: var(--white-color);
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  font-weight: 200;
  color: var(--white-color);
  font-weight: 500;
}
.join-btn {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: opacity 0.15s;
}
.join-btn:hover {
  opacity: 0.7;
}
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 5%;

  background-image: 
      linear-gradient(rgba(11, 31, 58, 0.75), rgba(11, 31, 58, 0.75)),
      url("/image/hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--white-color)
}
.hero-content{
  max-width: 800px;
}
.welcome-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.hero h1 {
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 25px;
}
.hero-text {
  font-size: 18px;
  margin: 0 auto 30px;
  max-width: 650px;
}
.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}
.hero-btn .btn:first-child {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.hero-btn .btn:first-child:hover {
  opacity: 0.85;
}
.secondary-btn{
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background-color: transparent;
  cursor: pointer;
}
.secondary-btn:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.focus {
  padding: 80px 5%;
  text-align: center;
}
.section-heading {
  max-width: 700px;
  margin: 0 auto 50px;
}
.section-heading h2 {
  font-size: 38px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}
.section-heading > p:first-child {
  margin-bottom: 10px;
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}
.focus-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.focus-card {
  padding: 30px 20px;
  border: 1px solid #E5E7EB;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.focus-icon {
  margin-bottom: 10px;
  font-size: 20px;
}
.focus-card h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--secondary-color);
}
.focus-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
.events {
  padding: 80px 5%;
  text-align: center;
}
.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.event-card {
  padding: 30px;
  text-align: left;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px #E5E7EB;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.event-date {
  margin-bottom: 20px;
}
.event-date span {
  display: block;
  font-size: 38px;
  font-weight: bold;
  color: var(--primary-color);
}
.event-date small {
  font-size: 14px;
  font-weight: bold;
  color: var(--accent-color);
}
.event-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--secondary-color);
}
.event-content p {
  margin-bottom: 10px;
  color: var(--text-color);
}
.event-content a {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.scripture {
  padding: 90px 5%;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.scripture-content {
  max-width: 800px;
  margin: 0 auto;
}
.scripture-label {
  color: var(--accent-color);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.scripture blockquote {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
}
.scripture-reference {
  font-size: 18px;
  font-weight: bold;
}
footer {
  padding: 60px 5% 20px;
  background-color: #08172B;
  color: var(--white-color);
}
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr;
  gap: 40px;
}
.footer-container h3 {
  margin-bottom: 15px;
  color: var(--accent-color);
}
.footer-about p {
  max-width: 300px;
}
.footer-links,
.footer-social {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  gap: 8px;
}
.footer-links a,
.footer-social a {
  text-decoration: none;
  color: var(--white-color);
}
.footer-contact {
  margin-bottom: 8px;
}
.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.email-icon {
  display: block;
}
.footer-bottom  {
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-bottom p {
  font-size: 14px;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 28px;
  cursor: pointer;
}
.page-hero {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 5%;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.page-hero p:first-child {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.page-hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.page-hero p:last-child {
  max-width: 650px;
  margin: 0 auto;
}
.about-intro {
  padding: 90px 5%;
}
.about-content {
  max-width: 850px;
  margin: 0 auto;
}
.section-label {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.about-content h2 {
  color: var(--secondary-color);
  font-size: 38px;
  margin-bottom: 25px;
}
.about-content p:not(.section-label) {
  margin-bottom: 20px;
  line-height: 1.8;
}
.mission-vision {
  padding: 80px 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: var(--light-color);
}
.mission-card
.vision-card {
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.mission-card h2
.vision-card h2 {
  color: var(--secondary-color);
  margin-bottom: 15px;
}
.values {
  padding: 90px 5%;
  text-align: center;
}
.values-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.value-card {
  padding: 30px 20px;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.value-card:hover {
  transform: translateY(-5px);
}
.value-icon {
  font-size: 40px;
  margin-bottom: 15px;
}
.value-icon h3 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.phone-icon {
  display: block;
}
.programs {
  padding: 90px 5%;
}
.programs-heading {
  margin-bottom: 50px;
  text-align: center;
}
.programs-heading h2 {
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 15px;
}
.programs-heading p {
  font-size: 14px;
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.programs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.program-card {
  padding: 30px 20px;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s ease;
}
.program-card:hover {
  transform: translateY(-5px);
}
.program-card a {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.program-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sermons-btn {
  padding: 30px 5%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.sermon-btn {
  padding: 10px 6%;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3 ease
}
.sermon-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.sermon-btn:active {
  opacity: 0.7;
}
.events {
  padding: 90px 5%;
}
.events-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.event-card {
  background-color: var(--white-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.event-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.event-heading {
  margin-bottom: 30px;
  text-align: center;
}
.event-heading p {
  font-size: 14px;
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.event-heading h2 {
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 15px;
}
.event-content {
  padding: 25px;
}
.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 8px;
  margin-bottom: 20px;
}
.event-date span:first-child {
  font-size: 24px;
  font-weight: bold;
}
.event-date span:last-child {
  font-size: 12px;
  font-weight: bold;
}
.event-content h3 {
  color: var(--secondary-color);
  font-size: 22px;
  margin-bottom: 15PX;
}
.event-info {
  margin-bottom: 10px;
  font-size: 15px;
}
.event-content p:not(.event-info) {
  line-height: 1.7;
  margin-bottom: 20px;
}
.event-content a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}
.event-content a:hover {
  text-decoration: underline;
}
.sermons {
    padding: 90px 5px;
}
.sermons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.sermon-card {
  background-color: var(--white-color);
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.sermon-card:hover {
  transform: translateY(-5px);
}
.sermon-content {
  padding: 30px;
}
@media (max-width: 900px) {
  .focus-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .events-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 600px) {
  .nav-bar {
    flex-wrap: wrap;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }
  .focus-container {
    grid-template-columns: 1fr;
  }
  .events-container {
    grid-template-columns: 1fr;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero-text {
    font-size: 16px;
  }
  .scripture blockqoute {
    font-size: 24px;
  }
  .mission-vision {
    grid-template-columns: 1fr;
  }
  .values-container {
    grid-template-columns: 1fr;
  }
  .programs {
    padding: 60px 5%;
  }
  .programs-container {
    grid-template-columns: 1fr;
  }
  .programs-heading h2 {
    font-size: 32px;
  }
  .page-hero h1 {
    font-size: 38px;
  }
  .about-content h2 {
    font-size: 30px;
  }
  .events {
    padding: 60px 5%;
  }
  .events-container {
    grid-template-columns: 1fr;
  }
  .menu-toggle {
    display: block !important;
    color: red;
    font-size: 40px;
  }

}